* {
  font-family: "Raleway", sans-serif;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.logoHeader {
  width: 61px;
  height: 19px;
  top: 44px;
  left: 55px;
}
#navHeader {
  display: flex;
}

#menu {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
}

h1 {
  font-family: "Raleway";

  font-size: 22px;
  line-height: 26px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  color: black;
}

p {
  font-family: "Raleway";

  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  color: black;
}

.formulaires i {
  width: 50px;
  height: 49px;
  background: #f2f2f2;
  border: 1px solid;
  border-color:#f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.iconeLocalisation {
  width: 14px;
  height: 18px;
}

.ville {
  font-family: "Raleway";

  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  border-top: #f2f2f2;
  width: 147px;
  height: 49px;
  top: 14px;
  left: 67px;
  width: 332px;

  border: 1px;
}

.boutonRecherche {
  font-family: "Raleway";

  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  color: white;
  width: 132px;
  height: 49px;
  top: 200px;
  left: 341px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  border-radius: 0px 15px 15px 0px;

  border: 1px;
  background: #0065fc;
}

.filtreBar {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 900px;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  vertical-align: top;
  color: black;
  justify-content: space-between;
  
  
}

.elementFiltreBarFiltre {
  display: flex;
  justify-content: flex-start;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}
.elementFiltreBar {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  border-color: #d9d9d9;
  padding: 5px 5px 5px 5px;
}
.elementFiltreBarDog {
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  border-color: #d9d9d9;
  background-color: #deebff;
  padding: 5px 5px 5px 5px;
}

.fa-solid {
  color: #0065fc;
}

.icone i{
  border-radius: 2px;
  border: #f2f2f2;

}
.containerHebergementEtPo {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.containerHebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 880px;
  height: 626px;
  border-radius: 20px 20px 20px 20px;
  border: #f2f2f2 solid;
  background-color: #f2f2f2;
  justify-content: space-around;
  margin: 20px 20px 20px 20px;
  
}

.titreHebergement {
  display: flex;
}

.groupCardsHebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 880px;
  height: 626px;
  border-radius: 20px 20px 20px 20px;
  justify-content: space-around;
  background-color: #f2f2f2;
}

.cardsHebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 246px;
  height: 250px;
  border-radius: 20px 20px 20px 20px;
  border-color: #ffffff;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.imgHebergement {
  width: 246px;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
}

