* {
  font-family: "Raleway", sans-serif;
  
}

a {
  color: black;
  text-decoration: none;

}

li {
  list-style-type: none;
}

h1 {
   
  font-size: 22px;
  line-height: 26px;
  height: 26px;
  
 

}

h2 {
  font-size: 22px;
  line-height: 26px;
  padding: 40px;
  
}

h3 {
  font-size: 16px;
  line-height: 19px;
  margin: 2px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  line-height: 21px;
}

p {
  font-size: 16px;
  line-height: 19px;
  margin: 2px;
}
/***************** Header *******************/
/***************** Navbar *******************/

.navHeader{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
  
}


#logoHeader  {
  height: 19px;
  width: 61.09px;
  margin-right: auto;
  padding: 44px 0px 0px 55px ;
  display: flex;
  justify-content: center;

 
}
.listeNav {
  display: block;
  padding: 48px 77px ;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  
 
}


#listeNav1 {
  color: #0065fc;
   
}


.listeNav:hover {
  border-top: #0065fc 4px solid;
  
}

.titre{
  padding: 0px 55px;
}
  
.titre p{

  margin-bottom: 20px;
}
/***************** Formulaire *******************/

.formulaires {
    width:60%;
    padding-left: 55px;
  }
    

.formulaires i {
  padding:16px 18ps 15px 18px ;
  width: 50px;
  height: 49px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: black;
}

.ville {
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  text-align: center;
  border-top: #f2f2f2;
  border: 1px;
  width: 40%;
  height: 49px;
  
}

.rechercher {
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  text-align: center;
  color: white;
  height: 49px;
  top: 200px;
  left: 341px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  border-radius: 0px 15px 15px 0px;
  border: 1px;
  background: #0065fc;
}
/***************** Filtre *******************/
.filtreBar {
  display: flex;
  flex-direction: row;
 padding: 20px 62px;
  width: 60%;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  vertical-align: top;
  color: black;
  justify-content: space-between;
  
 
}

.elementFiltreBarFiltre {
  display: flex;
  justify-content: flex-start;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 5px 15px 5px 15px;
}
.elementFiltreBar {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  border-color: #d9d9d9;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.elementFiltreBarDog {
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  border-color: #d9d9d9;
  background-color: #deebff;
  padding: 10px 10px 10px 10px;
}

.fa-solid {
  color: #0065fc; 
}

.fa-regular{
 color: #F2F2F2;
}

.info i{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid ;
  border-color: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 10px;
 
}

.info {
  margin-bottom: 20px;
  padding-left: 59px;
  display: flex;
  align-items: center;
}

/***************** Hébergements à Marseille *******************/
#containerHebergementEtPo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px;
}

#containerHebergement {
  background-color: #f2f2f2;  
  border-radius: 20px;
  flex-basis: 65%;
  
}


.groupCardsHebergement{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  
 
}


.cardsHebergement{
   background: white;
   border-radius: 20px ;
   border: 5px solid #FFFFFF;
   box-shadow: 0 0 16px gray;
   margin: 30px;
}

.imgHebergement{
  width: 246px;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.cardsHebergememtInfos{

  margin: 9px;
}

#containerHebergement a{
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
 
}
.afficherPlus{
  padding: 40px 729px 46px 44px;
  
}

/***************** Les plus populaires *******************/
#containerPopulaire {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  border-radius: 20px 20px 20px 20px;
  border: #f2f2f2 solid;
  background-color: #f2f2f2;
 
 
  
  
}
  
.groupCardsPopulaire{
  display: flex;
  flex-direction: column;
  gap:10px ;
  justify-content: space-around;
  margin-bottom: 20px; 
}

  



.cardsPopulaires {
  display: flex;
  
  border-radius: 20px 20px 20px 20px;
 
  border-color: white;
  background-color: white;
  margin: 33px;
  box-shadow: 0 0 16px gray  ;
 
  
}


.imgPopulaire {
  width: 137px;
  height: 144px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
}

.cardsPopulaires star{
  margin-top:60px ;
}

#containerPopulaire h2{
  display: flex;
  justify-content: space-between;
  padding: 41px 118px 26px 37px;
  


}
.cardsPopulairesInfos h3 {
  margin-bottom:44px ;
  margin-top: 16px;

}
                    

 

/***************** Activité à Marseille *******************/

#containerActivites h2{
  padding-left: 50px;
}


#containerActivites{
  padding: 20px;
  margin-top:50px;
 
}


.cardsActivitesMarseille{
  box-shadow: 0 0 16px gray  ;
  border-radius: 20px ;
}
  

.groupCardsActivites{

  display: flex;
  flex-wrap: wrap;
  gap:10px ;
  justify-content: space-around;
  margin-bottom: 20px;
  
}

.imgActivites {
  width: 302px;
  height: 445px;
  border-radius: 20px 20px 0px 0px;

  object-fit: cover;
}

.cardsActivitesInfos{
  padding-top: 15px;
  margin:  10px;
  
}


/***************** Footer *******************/

.containerFooter {
  display: flex;
  gap: 300px;
  padding-left: 70px;
  margin: 50px;
  padding-bottom: 58px;
  background-color: #f2f2f2;
  text-align: left;
  height: 191px;
}
 
.listeFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
  }

.listeFooter h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 45px;
 

}

.listeFooter p{
  font-size: 16px;
  line-height: 19px;
  margin: 2px;
  margin-bottom: 5px;
}

/***************** Responsive *******************/


